html, body {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0; }

.header {
  position: fixed;
  margin-bottom: 20px;
  color: white;
  display: block;
  background-color: #002f55;
  margin: 0;
  height: 75px;
  width: 100%;
  border-bottom-color: white; }

.fa-bars {
  z-index: 6;
  color: white;
  text-decoration: none;
  float: left;
  position: fixed;
  margin-top: 30px;
  margin-left: 35px; }

.fa-bars:hover {
  cursor: pointer; }

#buttontog {
  display: none; }

#buttontog:checked + #nav {
  display: block;
  -webkit-animation: menu 500ms ease-in-out forwards;
          animation: menu 500ms ease-in-out forwards; }

@-webkit-keyframes menu {
  0% { }
  100% {
    left: 0; } }

@keyframes menu {
  0% { }
  100% {
    left: 0; } }

nav {
  left: -1125px;
  display: none;
  padding: 0px;
  z-index: 4;
  width: 150px;
  height: auto;
  margin-top: 125px;
  position: absolute; }

#button {
  cursor: pointer; }

ul {
  margin: 7;
  list-style: none;
  padding: 0;
  display: block;
  border-radius: 5px;
  text-align: center; }

li {
  -webkit-transition: all 3s;
  transition: all 3s;
  font-family: nunito;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #E0203D;
  background-color: #002f55;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 7px; }

a {
  text-decoration: none; }

#mainlogo {
  z-index: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  height: 60px;
  width: 90px; }

.social {
  text-align: center;
  right: 0px;
  height: 75px;
  width: 160px;
  display: block;
  position: absolute; }

#socialbtn {
  color: #E0203D;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 25px;
  -webkit-transition: all 200ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  transition: all 200ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82); }

#socialbtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.main-content {
  font-family: nunito;
  position: relative;
  z-index: -2;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  display: block;
  margin-top: 94px;
  height: 82%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #E0203D; }

#menu-titles {
  text-decoration: underline;
  font-size: 25px; }

p {
  padding: 20px;
  text-align: center;
  font-size: 17px;
  margin: 20px;
  color: #002f55; }

@media (max-width: 762px) {
  .fa-bars {
    margin-left: 25px; }
  #socialbtn {
    color: white;
    margin: 0; } }
