html, body {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0; }

.header {
  position: fixed;
  margin-bottom: 20px;
  color: white;
  display: block;
  background-color: #002f55;
  margin: 0;
  height: 75px;
  width: 100%;
  border-bottom-color: white; }

.fa-bars {
  color: white;
  text-decoration: none;
  float: left;
  position: fixed;
  margin-top: 30px;
  margin-left: 35px; }

nav {
  z-index: 3;
  margin-top: 30px;
  margin-left: 30px;
  position: absolute;
  background-color: green;
  float: left; }

li {
  text-align: center;
  color: black; }

#mainlogo {
  z-index: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  height: 60px;
  width: 90px; }

.social {
  text-align: center;
  right: 0px;
  height: 75px;
  width: 160px;
  display: block;
  position: absolute; }

#socialbtn {
  color: #E0203D;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 25px; }

.main-content {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  display: block;
  margin-top: 94px;
  height: 80%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #E0203D; }

.lorem {
  margin: 20px;
  color: #002f55; }

@media (max-width: 762px) {
  .fa-bars {
    margin-left: 25px; }
  #socialbtn {
    color: white;
    margin: 0; } }
